<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangmiyi.future.exampleorder.dao.PropertiesSnowMapper">
  <resultMap id="BaseResultMap" type="com.tangmiyi.future.exampleorder.pojo.PropertiesSnowDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="application" jdbcType="VARCHAR" property="application" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
    <result column="lable" jdbcType="VARCHAR" property="lable" />
    <result column="common" jdbcType="TINYINT" property="common" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <select id="selectPageList" resultMap="BaseResultMap" parameterType="com.tangmiyi.future.exampleorder.pojo.param.PropertiesSnowPageParam">
    select id,`key`,`value`,application,profile,lable,common,created_at,updated_at from properties_snow
    <where>
      <if test="propertiesSnowPageParam.common != null">
        and common = #{propertiesSnowPageParam.common}
      </if>
      <if test="propertiesSnowPageParam.startTime != null">
        AND created_at &gt;= #{propertiesSnowPageParam.startTime}
      </if>
      <if test="propertiesSnowPageParam.endTime != null">
        AND created_at &lt;= #{propertiesSnowPageParam.endTime}
      </if>
    </where>
    order by id desc
  </select>
</mapper>